      <div class="wrapper">
      <div class="content" role="main">
        <!-- This is the start of content for our page -->
        <h1 class="title">ARTIVISMOS</h1>
         <div class='blinking'><h3>Artistas Invitados</h3></div>

        <div class="instructions">
    <h2>Humedales</h2>
      <ul>
        <li><a class="btn--remix3" target="_blank" href="http://www.ecourbano.org.ar/institucional/institucional.php">Horacio Indio Enriquez - Fundación Eco Urbano</a></li>
         <li><a class="btn--remix3" target="_blank" href="https://cuidadoresdelacasacomun.org/sitio/">Cosita Romero - Cuidadores de la Casa Común</a></li>
        <li><a class="btn--remix3" target="_blank" href="https://cuidadoresdelacasacomun.org/sitio/">Diana campos</a></li>
        <li><a class="btn--remix3" target="_blank" href="https://linktr.ee/multisectorialhumedales">Enzo Culazo / Laura Correa -Multisectorial de Humedales - Paraná</a></li>
        </ul>

  <br style="clear: both;"> 

  <h2>EXTRACTIVISMO URBANO</h2>
      <ul>
        <li><a class="btn--remix3" target="_blank" href="https://linktr.ee/CDArquitectas">Adriana Guevara, Arquitecta No A Torres En Costa Salguero</a></li>
        
        </ul>

  <br style="clear: both;"> 
  <h2>MEGAMINERÍA</h2>
      <ul>
        <li><a class="btn--remix3" target="_blank" href="https://mapa.conflictosmineros.net/ocmal_db-v2/nombres/view/959">Ayelen Argañaraz: nacida en Chilecito La Rioja, artista visual,  coordinadora de PAAR proyecto artístico Antirrepresivo, integrante desde el año 2016 al día de la fecha de espacio de arte: La Casa Arte.
Jenny Luján vecina participante de las asamblea Ciudadanos por la Vida Chilecito
</a></li>
        
        </ul>

  <br style="clear: both;"> 

        <h2>ARTISTAS</h2>
      <ul>
        <li><a class="btn--remix3" target="_blank" href="http://cvaa.com.ar/03biografias/grupo_arte_callejero.php">Lorena Bossi - GAC </a></li>
        <li><a class="btn--remix3" target="_blank" href="https://articulo41.org/nosotras/">Meli Scioli - Artículo 41 </a></li>
        <li><a class="btn--remix3" target="_blank" href="https://curatoriaforense.net/niued/?tag=leonello-zambon">Leonelo Zambón - IF - UP </a></li>
        </ul>

  <br style="clear: both;"> 
</div></div></div>