  <div class="wrapper">
      <div class="content" role="main">
        <!-- This is the start of content for our page -->
        <h1 class="title">ARTIVISMOS</h1>
         <div class='blinking'><h3>Glosario</h3></div>
<!--
        <img
          src="https://cdn.glitch.com/a9975ea6-8949-4bab-addb-8a95021dc2da%2Fillustration.svg?v=1618177344016"
          class="illustration"
          alt="Editor illustration"
          title="Click the image!"
        />-->
        <!-- Instructions on using this project -->
        <div class="instructions">
          <h2>Introducción</h2>
          
          <p>
            Un glosario es un catálogo de palabras de una misma disciplina, de un mismo
campo de estudio definidas o comentadas, en este caso nos referiremos a una
disciplina que surge de la unión de otras dos: arte y activismo y que podríamos
definir del siguiente modo:</p>
  <p><b><i>"El artivismo es una practica hibrida que combina la aproximación artística, basada en el
    proceso estético, con el enfoque instrumental que busca resultados propio del activismo"</i></b></p>
<p>Durante la cursada de la materia ARTIVISMOS en el marco de la Diplomatura de
Humanidades Ambientales en el cruce del Arte y la Tecnología de Untref, tuvimos
la oportunidad de conversar con varios Artistas y representantes de
organizaciones que a través del lenguaje y expresiones artísticas, abordan
problemáticas sociales ambientales y políticas.</p>
Considerando la importancia y trascendencia del lenguaje en los procesos de
transformación social, construimos este GLOSARIO DE FRASES Y PALABRAS,
como caja de herramientas, recursos y experiencias transmitidas durante estos
valiosos y nutritivos encuentros.</p>
  <p>Las nuevas expresiones de activismo político usan el lenguaje artístico para
comunicar a las comunidades, expresiones de protesta, valiéndose del mismo
justamente por su eficacia política.</p>
  <p>Para Antoni Gutiérrez Rubí, siempre existió relación entre el arte y la política, pero
actualmente él se inspira en dos hipótesis de trabajo:</p>
  <p>La primera es la degradación de la confianza de la ciudadanía en la política;
fundamentalmente a partir del 2008 con las crisis financieras en las cuales decae
la confianza en la democracia y la economía, con una pronunciada degradación
del lenguaje político, basado generalmente en los principios de la publicidad.
La segunda, surge en 2019/20 durante la pandemia global, generando mayor
miedo e incertidumbre, degradando aún más el discurso político.</p>
  <p>En este sentido surge una nueva organización, una propuesta renovadora ,que
utiliza la creatividad , la coralidad y la horizontalidad en la construcción de un
nuevo espacio para la expresión disidente, en el terreno cotidiano :el ESPACIO
PÚBLICO y LAS REDES SOCIALES.</p>
  <p>Utilizando el talento artístico, la creatividad y la hibridación de los lenguajes en
esta expansión de la frontera artística, se enriquece la experiencia; que fluye
posibilitando la expresión de sueños y ambiciones de las comunidades, generando
un empoderamiento de las mismas, quizá sin muchas respuestas pero generando
muchas preguntas.</p>
        
    
  <br style="clear: both;"> 

  </div></div></div>